@basecolor-0: #000000;
@basecolor-1: #121212;
@basecolor-2: #EA1B47;
@basecolor-3: #A7A9AC;
@basecolor-4: #EAEAEA;
@basecolor-5: #F8F8F8;
@basecolor-6: #FFFFFF;
@basecolor-7: #646464;

@font-size-xs: 12px;
@font-size-sm: 16px;
@font-size-md: 22px;
@font-size-lg: 33px;
@font-size-xl: 54px;

@txt-light: 'open_sanslight', Arial, Helvetica, sans-serif;
@txt-regular: 'open_sansregular', Arial, Helvetica, sans-serif;
@txt-semibold: 'open_sanssemibold', Arial, Helvetica, sans-serif;
@txt-bold: 'open_sansbold', Arial, Helvetica, sans-serif;
@txt-xbold: 'open_sansextrabold', Arial, Helvetica, sans-serif;