/* Grid System classes */

.flexbox-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexbox-group {
    margin: 0 -.9375rem;
}

.flex-auto {
    margin: 0 auto;
}

.flex-auto:last-child {
    margin: 0 0 0 auto;
}

.flex-auto:first-child {
    margin: 0 auto 0 0;
}

.flex {
    position: relative;
    padding-right: .9375rem;
    padding-left: .9375rem;
}

.flex-1-large {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.flex-2-large {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.flex-3-large {
    flex-basis: 25%;
    max-width: 25%;
}

.flex-4-large {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.flex-5-large {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.flex-6-large {
    flex-basis: 50%;
    max-width: 50%;
}

.flex-7-large {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.flex-8-large {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.flex-9-large {
    flex-basis: 75%;
    max-width: 75%;
}

.flex-10-large {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.flex-11-large {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
}

.flex-12-large {
    flex-basis: 100%;
    max-width: 100%;
}

.flex-fluid {
    flex: 1;
}