/* Modal */
.jconfirm {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &.jconfirm-light .jconfirm-bg {
        opacity: 0.8;
        background-color: transparent;
    }

    &.jconfirm-light .jconfirm-box {
        position: relative;
        border-radius: 45px;
        padding: 50px 50px 0px;
        background: @basecolor-4;

        div.jconfirm-closeIcon {
            color: @basecolor-2;
            top: 25px;
            right: 25px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

        }

        div.jconfirm-closeIcon,
        div.jconfirm-closeIcon:hover {
            opacity: 1;
        }

        div.jconfirm-closeIcon:hover {
            color: #B01117;
        }

        div.jconfirm-closeIcon .fa {
            font-size: 25px;
        }

    }

    &.jconfirm-light .jconfirm-box div.jconfirm-content-pane {
        max-height: unset !important;
        overflow: visible !important;
        margin-bottom: 45px;
    }

    &.jconfirm-light .jconfirm-box {
        &.jc-demo-container {
            .jconfirm-content-pane {
                margin-bottom: 45px;
            }

            .flex {
                align-self: end;
            }

            & .jconfirm-buttons {
                float: none;
                display: flex;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0px;
                align-self: end;
                flex-basis: 50%;
                width: 50%;
                margin-left: auto;
                padding-bottom: 50px;
                padding-left: 0.9375rem;
                padding-right: 50px;
            }

            .demo-img-left {
                display: flex;
            }
        }
    }

    .jconfirm-box {
        & div.jconfirm-content-pane .jconfirm-content {
            overflow: visible;

            img {
                max-width: none;
                height: auto;
            }
        }

        & div.jconfirm-title-c {
            font-size: @font-size-lg;
            font-family: @txt-xbold;
            line-height: normal;
            text-align: center;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        & .jconfirm-success-sign {
            display: inline-flex;
            font-size: 90px;
            color: @basecolor-6;
            align-items: center;
            justify-content: center;
            width: 197px;
            height: 197px;
            border-radius: 100px;
            box-shadow: 3px 3px 10px rgba(234,27,71,0.6);
            background: @basecolor-2;
        }

        .jconfirm-buttons {
            padding-bottom: 50px;
        }
    }

    &.jconfirm-light .jconfirm-content {
        & video {
            vertical-align: middle;
            width: 100%;
            height: auto;
            max-height: 100%;
        }

        & video:focus,
        & video:active {
            outline: none;
            border: none;
        }

        .form-demo {
            .form-content {
                padding-bottom: 88px;
            }

            label.error {
                z-index: 2;
            }

            input.error {
                position: relative;
                z-index: 1;
            }
        }
    }
}